<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thanks for Visiting Us!</h2>
                <hr class="light">
                <p class="text-faded">We're working on some amazing things we'll be revealing soon.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
