<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Endless possibilities!</h2>
                <hr class="light">
                <p class="text-faded">Computing power and software tools have finally reached a point to allow us to build virtual worlds and augmented experiences never before seen. We are even capable of taking these experiences everywhere with the latest mobile devices. These technologies present new opportunities for interaction/intelligence/visualization across all industries.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
